<% content_for :javascript_includes do %>
  <%= javascript_include_tag "mail_templates" %>
<% end %>

<%= render "layouts/first_tab" %>
<%= form_for(@mail_template) do |f| %>
<% if @mail_template.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@mail_template.errors.count, "error") %> prohibited this mail_template from being saved:</h2>

  <ul>
    <% @mail_template.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <p class="field">
    <%= f.label t("mail_template.content") %>
    <%= f.text_area :content, :class=>"medium-input" %>
  </p>

<div class="form-actions">
  <%= f.submit nil, :class => 'button' %>
</div>

<% end %>