<%= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
    <tr>
      <td>
        <b><%= t("mail_template.#{@mail_template.name}") %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'mail_template.content' %>:<br/><br/><%= @mail_template.content.html_safe %>
      </td>
    </tr>
  </table>
</div>


<%= render "layouts/action_links" %>
