<%= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
    <tr>
      <td>
        <b><%= t'mail_template.name' %>:<%= @mail_template.name %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t'mail_template.content' %>:<%= @mail_template.content %>
      </td>
    </tr>
  </table>
</div>


<%= render "layouts/action_links" %>
