<% content_for :javascript_includes do %>
  <%= javascript_include_tag "groups" %>
<% end %>

<%= render "layouts/first_tab" %>
<%= form_for(@group) do |f| %>
<% if @group.errors.any? %>
<div id="error_explanation">
      <% if @group.errors.count == 1 %>
        <h2><%= t('activerecord.errors.template.header.one', :model => t("activerecord.models.group")) %></h2>
      <% else %>
        <h2><%= t('activerecord.errors.template.header.other', :model => t("activerecord.models.group"), :count => @group.errors.count) %></h2>
      <% end %>
  <ul>
    <% @group.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <p class="field">
    <%= f.label t("group.name") %>
    <%= f.text_field :name, :class=>"text-input small-input", :required => true %><span class="required">*</span>
  </p>
  <%= f.hidden_field :event_id, :value => session[:current_event_id] %>
<br/><br/>
<div class="form-actions">
  <%= f.submit nil, :class => 'button' %>
</div>

<% end %>