<%= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
    <tr>
      <td colspan="2">
        <%= @user.fullname %>
      </td>
    </tr>
    <tr>
      <td>
      <b><%= t'user.email'%>:</b>        <%= @user.email %>
      </td>
      <td>
      <b><%= t'user.phone'%>:</b>        <%= @user.phone %>
      </td>
    </tr>
    <tr>
      <td>
         <b><%= t'user.street'%>:</b>        <%= @user.street %>
      </td>
      <td>
         <b><%= t'user.street_number'%>:</b>        <%= @user.street_number %>
      </td>
    </tr>
    <tr>
      <td>
         <b><%= t'user.colony'%>:</b>        <%= @user.colony %>
      </td>
      <td>
      <b><%= t'user.city'%>:</b>      <%= @user.city %>
      </td>
    </tr>
    <tr>
      <td>
      <b><%= t'user.state'%>:</b>      <%= @user.state %>
      </td>
      <td>
     <b><%= t'user.zip'%>:</b>        <%= @user.zip %>
      </td>
    </tr>
    <tr>
      <td>
     <b><%= t'user.country'%>:</b>        <%= @user.country %>
      </td>
      <td>
     <b><%= t'user.role_name'%>:</b><%= @user.role.name %>
      </td>
    </tr>
    <tr>
  </table>
</div>


<%= render "layouts/action_links" %>
