<div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
  <table>
    <thead>
      <tr>
        <%#*<th><input class="check-all" type="checkbox" /></th>%>
        <th>ID</th>
                  <th><%= t'subgroup.name' %></th>
                  <th><%= t'subgroup.leader' %></th>
                  <th><%= t'subgroup.subgroup_key' %></th>
                  <th><%= t'subgroup.group_name' %></th>
              </tr>

    </thead>

    <tfoot>
      <tr>
        <td colspan="8">
          <%#*<div class="bulk-actions align-left">%>
            <%#= render "layouts/select_action" %>
          <%#*</div>%>
          <%= render "layouts/pagination" %>
          <div class="clear"></div>
        </td>
      </tr>
    </tfoot>

    <tbody>
      <% @subgroups.each do |subgroup| %>
      <tr>
        <%#*<td><input type="checkbox" /></td>%>
        <%#if can? :show, Subgroup %>
        <%#*<td><%=link_to subgroup.id, subgroup, :class => 'button'</td>%>
        <%#else%>
        <td><%= label subgroup.id, subgroup.id %></td>
        <%#end%>
        
                
             <% @model = subgroup %>
                          
          <td><%= subgroup.name %></td>
          
          <td><%= subgroup.leader %></td>
                             
          <td><%= subgroup.subgroup_key %></td>
          
          <td><%= subgroup.group.name %></td>
                <%= render "layouts/index_links" %>
        <% end %>
    </tbody>
  </table>
  <%= render "layouts/action_links" %>
</div> 
<%= render "layouts/second_tab" %>