<h1><%= t(:welcome) %>, <%= @attendee.a_name %></h1>
<p>
  <%= t("atten.registration_ok") %>&nbsp;<span style="font-family: 'Times New Roman',Times,serif; font-size: 20px; font-weight: bold;"><%= @attendee_id %></span>.
</p>
<p><%= t("atten.thanks_for_joining") %></p>